<div class="admin-inner-content">
  <div class="admin-inner-content-title">Edit Information</div>
  <div class="admin-inner-content-detail">
    <%= raw msg_flash(flash) %>
    <%= form_for([:admin, @information], :url => admin_information_path,
                  :html => { :multipart => true, :method => :put }) do |f| %>
      <%= f.error_messages %>
      <%= render :partial => 'form', :locals => { :f => f} %>
      <div class="field button">
        <%= f.submit 'Update Information' %>&nbsp;&nbsp;
        <%= link_to 'Back', admin_informations_path %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>

