<div class="admin-inner-content">
  <div class="admin-inner-content-title">Information</div>
  <div class="admin-inner-content-detail">
    <%= raw msg_flash(flash) %>
    <%= link_to "New Information", new_admin_information_path %>
    <div class="admin-row border">
      <div class="no">No</div>
      <div class="information-name">Name</div>
      <div class="action">&nbsp;</div>
    </div>
    <% @informations.each_with_index do |information, x| %>
      <div class="admin-row with-pic">
        <div class="no"><%= x+1 %></div>
        <div class="information-name"><%= information.name %></div>
        <div class="action">
          <%= link_to 'Edit', edit_admin_information_path(information.permalink) %>&nbsp;|&nbsp;
          <%= link_to 'Delete', admin_information_path(information.permalink),
                                :confirm => "Are you sure?", :method => :delete %>
        </div>
      </div>
    <% end %>
    <em class="simple_border"></em>
    <div class="admin-row paginate">
      <%= will_paginate @informations, :link_separator => " | ",
                                   :previous_label => "&laquo; previous",
                                   :next_label => "next &raquo;" %>
    </div>
  </div>
</div>
