<% content_for :javascript_includes do %>
  <%= stylesheet_link_tag "jquery.fancybox" %>
  <%= javascript_include_tag "jquery.fancybox" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.fancybox').fancybox();
  });
</script>

<div class="information-content">
  <div class="content-title"><%= @gallery.name %></div>
  <div class="content-detail gallery-detail-frame">
    <% @gallery_images.each_with_index do |gallery_image, x| %>
      <% margin = " no-margin-r" if x%3 == 2 %>
      <div class="content-gallery-detail<%= margin %>">
        <%= link_to (image_tag gallery_image.gallery_image.url(:small)),
                      gallery_image.gallery_image.url(:large), :class => "fancybox",
                      :'data-fancybox-group' => "gallery" %>
      </div>
    <% end %>
  </div>
</div>
