<div class="admin-inner-content">
  <div class="admin-inner-content-title">Edit Gallery Images</div>
  <div class="admin-inner-content-detail">
    <%= form_for([:admin, @gallery_image],
                  :url => admin_gallery_gallery_image_path(@gallery.permalink),
                  :html => { :multipart => true, :method => :put}) do |f| %>
      <%= f.error_messages %>
      <div style="height: 230px;">
        <%= image_tag @gallery_image.gallery_image.url(:medium) %>
      </div><br /><br />
      <div class="field clear-margin">
        <div class="input-title left"><%= f.label :gallery_image, "Image * :" %></div>
        <div class="input-box left"><%= f.file_field :gallery_image %></div>
      </div>
      <div class="field clear-margin">
        <div class="input-title left">&nbsp;</div>
        <div class="input-box left small-font">
          Input image with size 800x600 (width x height)
        </div>
      </div>
      <div class="field">
        <%= f.submit 'Update Gallery Image' %>&nbsp;&nbsp;
        <%= link_to 'Back', admin_gallery_path(@gallery.id) %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
