<% if @information == "empty" %>
  <div class="information-content  ic-size">
    <div class="content-title ic-size">Information</div>
    <div class="content-detail ec-size">
      <%= raw msg_flash(flash) %>
      Ooopss Sorry <br /> Cannot find the Information or There is no Information for this time
    </div>
  </div>
<% else %>
  <div class="information-content">
    <div class="content-title ic-size"><%= @information.name %></div>
    <div class="content-detail ic-size">
      <%= raw msg_flash(flash) %>
      <%= raw @information.content %>
    </div>
  </div>
  <div class="information-menu">
    <div class="information-menu-title">
      related informations
    </div>
    <div class="information-menu-detail">
      <ul>
        <% @informations.each do |information| %>
          <li><%= link_to information.name, information_path(information.permalink) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
